/* Fondo general con imagen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/image.jpeg.jpeg'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Contenedor del formulario */
#login-form, #user-panel {
    background-color: #ADD8E6; /* Azul claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
}

/* Campos de texto */
input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFD1DC; /* Rosa pálido */
}

/* Botones */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #77DD77; /* Verde pastel */
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #6CC76E; /* Verde pastel más oscuro al pasar el mouse */
}

/* Ocultar el panel del usuario inicialmente */
#user-panel {
    display: none;
}
